@import url('https://fonts.googleapis.com/css2?family=Book+Antiqua:wght@700&display=swap');


.userImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    
}

.input-group .input-group-text {

    border-radius: 4px; 
    background-color: #3a92e9; /* Fondo   de la imagen */
}


.img-circle {
    border-radius: 50%; 
}
.card-header h2 {
    font-family: 'Bookman Old Style', serif; 
    font-size: 2rem; 
    font-weight: 420; 
    color: #000;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.input-group .form-control {
    font-size: 1.25rem;
}
.input-group .input-group-text {
    font-size:2rem; 
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(16,3,51,1) 0%, rgba(15,15,89,0.8183648459383753) 100%);

}


.card {
    background-color: #f8f9fad2; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    border: 2px solid #abaeaf; 
    border-radius: 8px; 
    padding: 20px; 
}

.car-header h2 {
    font-family: 'Times New Roman', serif; 
    font-weight: bold; 
    font-size: 2.5rem; 
}


.input-group .input-group-text {
    font-size: 1.5rem; 
}

.btn-success {
    background-color: #28a745; 
    border-color: #28a745; 
    color: #fff; 
}

.btn-success:hover {
    background-color: #218838; 
    border-color: #1e7e34; 
}


.menu-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color: #ffffff; 
}


