@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* Fuente moderna */

/* Imagen del usuario */
.userImage {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background: linear-gradient(rgba(7, 0, 26, 0.603), rgba(0, 48, 56, 0.548)), 
                url('/src/imagenes/logoac.png');
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: top; /* Coloca la imagen en la parte inferior */
    background-size: 100%; 
  }

/* Texto de los inputs */
.input-group .input-group-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem; /* Ajusta el tamaño del círculo */
    height: 2rem; /* Ajusta el tamaño del círculo */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: #27c9fade; /* Fondo gris claro */
    font-size: 1.5rem; /* Tamaño del ícono */
    text-align: center; /* Alinea el ícono en el centro */
    
}

/* Encabezado de la tarjeta */
.card-header h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff; /* Gris oscuro */
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(250, 0, 0, 0.1);
}

/* Inputs */
.input-group .form-control {
    font-size: 1rem;
    background-color: #fff; /* Fondo blanco */
    color: #000000; /* Texto gris oscuro */
    border: 1px solid #ced4da; /* Borde gris claro */
    border-radius: 0.50rem;
    padding: 0, 20px; 
}

/* Tarjeta */
.card {
    background-color: rgba(9, 1, 117, 0.253);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.459); /* Sombra suave */
    border: 1px solid #017ffd; /* Borde gris claro */
    border-radius: 0.95rem;
    padding: 3.5rem;
    
}

/* Botones de éxito */
.btn-success {
    background-color: #2600ff; /* Verde Bootstrap */
    border-color: #778bfd;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

/* Botones en hover */
.btn-success:hover {
    background-color: #ff8800; /* Fondo del botón en hover */
}

/* Contenedor del menú */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Fondo blanco */
}

.card-footer{
    color: rgb(231, 229, 229);
}
.btn-link{
    color: #75d0fa; /* Fondo del botón en hover */
    font-size: 1.1rem;
}
.link-recuperar {
    color: #75d0fa; /* Fondo del botón en hover */
    font-size: 1.1rem;
 }
 
.link-recuperar:hover {
   color: #ff8800; /* Fondo del botón en hover */
}

.btn-link:hover {
    color: #ff8800; /* Fondo del botón en hover */
 }