html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(252, 252, 252); 
}


.menu-container {
    display: flex;
    height: 98vh;
    overflow: hidden;  
    
    
}
.menu-content img {
    position: absolute;
    top: 50px; /* Puedes ajustar estos valores */
    right: 50px; /* según sea necesario */
    max-width: 250px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
.menu-content h1{
    padding: 100px 100px; 
    color: #043549; ;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color: rgb(252, 252, 252); 
}


hr {
    border: none; /* Remueve el borde por defecto */
    height: 3px; /* Ajusta el grosor del `<hr>` */
    background-color: #272727; /* Ajusta el color del `<hr>` */
    margin: 0px 0; /* Ajusta el margen superior e inferior si es necesario */
}
.menu-content p{
    background-color: rgb(252, 252, 252); 
    padding: 0 30px;
    color: #024b68; 
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.menu-sidebar {
    width: 250px; 
    background-color: #024b68; 
    color: rgba(255, 255, 255, 0.884); 
    padding: 50px 10px; 
    box-shadow: 2px 0 5px #ff880075;;
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    font-size: 0.9rem;
}

.menu-sidebar h2 {
    margin-top: 40px; 
}

h1, p {
    margin: 0;
}

a {
    color: rgba(255, 255, 255, 0.726); /* Cambia el color de los enlaces a blanco */
    text-decoration: none; /* Opcional: remueve el subrayado de los enlaces */
}

.menu-sidebar a:hover {
    color: #ff8800;
}

.menu-sidebar li:hover {
    background-color: #1f242515; 
    color: #ff8800;
}

