.marcas-container{
    margin-top: 10px;
    padding: 100px;
    background-color: rgb(252, 252, 252); 
    height: 100vh; /* Ocupar toda la altura del viewport */
    box-sizing: border-box; /* Incluye padding en el cálculo de la altura */
  }