    .h1-pais{
        color: #000000; /* Color de fondo azul */  
        padding-left: 50px; 
        padding-top: 30px; 
    }
    .h2-pais{
      color: #616363; /* Color del texto */
      padding-left: 0px;
      font-size: 30px;
      margin-top: 20px; /* Espacio superior */
      margin-bottom: 20px; /* Espacio inferior */
    }
    
  .lista-paises {
    margin-top: 40px; /* Espacio superior */
    width: 500px; /* Ajusta el ancho del contenedor del listado */
    max-width: 100%; /* Asegúrate de que el ancho no exceda el contenedor */
    
}
  
  /* Estilos para la lista de países */
  .ul-pais {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;  /* Ajusta el ancho de la lista al contenedor */
    
    }
  
  /* Estilos para los elementos de la lista */
  .ul-pais li {
    color: #0e0d0d;
    padding: 5px;
    border: 1px solid #444343;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  }
  
  /* Estilos para el contenedor de los botones */
  .button-container {
    display: flex; /* Usa flexbox para alinear los botones horizontalmente */
    gap: 5px;     /* Espacio entre los botones */
    justify-content: flex-end; /* Alinea los botones al final (derecha) del contenedor */
    margin-bottom: 5px;
  }
  
  /* Estilos para los botones */
  .btn-edit, .btn-delete {
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.805rem;
  }
  
  .main-container {
    padding-left: 50px; /* Ajusta el valor según el espacio que necesites */
    padding-right: 50px; /* Opcional, para mantener el espaciado simétrico */
    
}
  /* Estilos para el botón de editar */
  


.formulario-crear input, .formulario-editar input {

    background-color: #94939373; /* Fondo oscuro para el campo de entrada */
    color: rgb(119, 119, 119);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px; /* Espacio inferior entre el campo y el botón */
    font-size: 1.2rem;

}
.mensaje {
  color: green; /* O el color que prefieras */
  font-weight: bold;
  margin-top: 10px;
}
/* Estilos para mensajes de éxito */
.alert-success {
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.producto-pais-gral{
  margin-top: 10px;
  padding: 100px;
  background-color: rgb(252, 252, 252); 
  height: 100vh; /* Ocupar toda la altura del viewport */
  box-sizing: border-box; /* Incluye padding en el cálculo de la altura */
}

.producto-pais-gral img {
  position: absolute;
  top: 50px; /* Puedes ajustar estos valores */
  right: 50px; /* según sea necesario */
  max-width: 250px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
}


