.proveedores-container {
    padding: 20px;
    color: white; /* Color del texto */
}

.create-form, .edit-form {
    margin-bottom: 20px;
}

.create-form label, .edit-form label {
    display: block;
    margin-bottom: 10px;
    color: white; /* Color del texto */
}

.create-form input, .edit-form input {
    display: block;
    margin: 10px 0;
    color: white; /* Color del texto */
    background-color: #333; /* Fondo oscuro para el campo de entrada */
    border: 1px solid #ddd;
    padding: 8px;
}

.create-form button, .edit-form button {
    margin-top: 10px;
    color: white; /* Color del texto */
    background-color: #007bff; /* Color de fondo del botón */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.create-form button:hover, .edit-form button:hover {
    background-color: #0056b3; /* Fondo del botón en hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white; /* Color del texto */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: white; /* Color del texto */
}

table th {
    background-color: #05812a; /* Fondo de las cabeceras de la tabla */
}

.alert-danger {
    color: white; /* Color del texto */
    background-color: #ff4c4c; /* Fondo de la alerta */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.btn-create {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negrita */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Estilo para el botón cuando se pasa el cursor sobre él */
.btn-create:hover {
    background-color: #0056b3; /* Color de fondo azul oscuro en hover */
}
