.proveedores-container {
    padding: 20px;
    color: white; /* Color del texto */
}

.create-form,
.edit-form {
    margin-bottom: 20px;
}

.create-form label,
.edit-form label {
    display: grid;
    margin-bottom: 10px;
    color: white; /* Color del texto */
    margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
    font-weight: bold; /* Opcional, para resaltar las etiquetas */
    width: 40%; /* Ajusta el ancho según sea necesario */
    font-size: 13px; /* Tamaño de la letra reducido */
}

.create-form input {
    display: inline-block;
    margin: 10px 0;
    color: white; /* Color del texto */
    background-color: #333; /* Fondo oscuro para el campo de entrada */
    border: 1px solid #ddd;
    padding: 8px;
    width: calc(100% - 120px);
    font-size: 13px; /* Tamaño de la letra reducido */ /* Ajusta según sea necesario para que el campo de entrada ocupe el espacio restante */
}

.edit-form input {
    display: inline-block;
    margin: 10px 0;
    color: white; /* Color del texto */
    background-color: #333; /* Fondo oscuro para el campo de entrada */
    border: 1px solid #ddd;
    padding: 8px;
    width: calc(100% - 120px);
    font-size: 13px; /* Tamaño de la letra reducido */ /* Ajusta según sea necesario para que el campo de entrada ocupe el espacio restante */
}

.create-form button,
.edit-form button {
    margin-top: 10px;
    color: white; /* Color del texto */
    background-color: #007bff; /* Color de fondo del botón */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 13px; /* Tamaño de la letra reducido */
}



table {
    width: 100%;
    border-collapse: collapse;
    color: white; /* Color del texto */
    font-size: 13px; /* Tamaño de la letra reducido */
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: white; /* Color del texto */
}

table th {
    background-color: #05812a; /* Fondo de las cabeceras de la tabla */
}

.alert-danger {
    color: white; /* Color del texto */
    background-color: #ff4c4c; /* Fondo de la alerta */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
/* Contenedor para los botones */
.button-container {
    display: flex;
    justify-content: space-between; /* Espacia los botones */
    align-items: center; /* Alinea verticalmente los botones */
    margin-bottom: 20px; /* Espaciado inferior para todo el contenedor */
}


/* Contenedor para los botones */
.button-container {
    display: flex; /* Usa flexbox para alinear los botones en una fila */
    align-items: center; /* Alinea los botones verticalmente al centro */
}

/* Estilos comunes para los botones */
.create-form button:hover,
.edit-form button:hover {
    background-color: #b35100; /* Fondo del botón en hover */
}

.create-form button,
.edit-form button {
    margin-top: 10px;
    margin-right: 10px; /* Añadir margen derecho para separar los botones */
    color: white; /* Color del texto */
    background-color: #007bff; /* Color de fondo del botón */
    padding: 10px 20px; /* Ajustar padding para mejor apariencia */
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 13px; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negrita */
}

.highlight-row {
    background-color: rgb(146, 51, 27); /* Color de fondo de la fila resaltada */
    color: rgb(243, 240, 240); /* Asegúrate de que el texto sea visible sobre el fondo oscuro */
    text-decoration: line-through; /* Tachado del texto */
}
.radio-group {
    margin-top: 20px; /* Espacio arriba antes de los botones de radio */
}
.radio-group input[type="radio"] {
    display: none;
}
.radio-group label {
    display: flex;
    align-items: center;
    color: white; /* Color del texto */
    font-size: 13px; /* Tamaño de la fuente */
}
.radio-button {
    display: inline-block;
    width: 20px; /* Tamaño del botón */
    height: 20px;
    border-radius: 50%; /* Para hacerlo circular */
    background-color: #333; /* Fondo oscuro para el botón */
    border: 1px solid #ddd;
    margin-right: 20px; /* Espacio entre el botón y el texto */
    position: relative;
}
input[type="radio"]:checked + .radio-button {
    background-color: #ff3300; /* Color del botón seleccionado */
}
/* Opcional: estilo para el botón de radio al pasar el cursor */
.radio-group label:hover .radio-button {
    border-color: #ff9100; /* Borde del botón de radio en hover */
}




