.sensores-container{
    margin-top: 40px;
    padding: 100px;
    background-color: rgb(252, 252, 252); 
    height: 100vh; /* Ocupar toda la altura del viewport */
    box-sizing: border-box; /* Incluye padding en el cálculo de la altura */
  }
  .sensores-container img {
    position: absolute;
    top: 50px; /* Puedes ajustar estos valores */
    right: 50px; /* según sea necesario */
    max-width: 250px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
.sensores-container2 h1{
    margin-bottom: 00px ;

}




.edit-master2{
  display: flex; /* Usa flexbox para la disposición */
  flex-direction: row; /* Alinea los elementos en fila */
}

.edit-form2, .edit-form3 {
  flex: 0 0 25%; /* La primera columna ocupa el 45% del ancho */
  margin-right: 10px; /* Añade un margen a la derecha para el espacio deseado */
  background-color: #f4f4f4; 

}
.edit-form3 label#fechaEmision {
  margin-top: 10px;
}




.edit-form2 h2{
  flex: 0 0 15%; /* La primera columna ocupa el 45% del ancho */
  margin-right: 0px; /* Añade un margen a la derecha para el espacio deseado */
  background-color: #d0e8f3;
  padding: 15px; /* Mantén el padding deseado */
  font-family: Arial, sans-serif;
  
}


.datosPedido, .datosPedido2 {
  display: inline-block;
  flex: 1; /* La segunda columna ocupa el espacio restante */
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin-right: 0px;
 /* Ajusta este valor para bajar más la columna */
}


.datosPedido label {
  
  display: inline-flex; /* Usa inline-flex para alinear el label y el input en la misma línea */
  
  margin-bottom: 15px; /* Espaciado entre las filas */
}
.datosPedido input {
  margin-left: 0px; /* Espacio entre el label y el input */
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
  
}
.edit-form2, .edit-form3{
  background-color: #f4f4f4;
  padding: 2px;
  max-width: 400px;
  margin: 10px left;
  
  font-family: Arial, sans-serif;
}

.edit-form2 h2 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 22px;
  color: #333;
}

.edit-form2 label {
  display: block;
  margin-bottom: 0px;
  color: #555;

}
.edit-form3 label {
  display: inline-block;
  margin-bottom: 0px;
  color: #555;

}

.edit-form2 input {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #9ad1fd;/* Color de fondo similar a los inputs */
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.edit-form3 input {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #9ad1fd;/* Color de fondo similar a los inputs */
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.edit-form2 input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}
.edit-form3 input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}





.datosPedido, .datosPedido2 {
  background-color: #f4f4f4;
  padding: 30px;
  max-width: 400px;
  margin: 3px left;
  font-family: Arial, sans-serif;
  flex: 1;
}


.datosPedido label {
  display: block;
  margin-bottom: 0px;
  color: #555;
}
.datosPedido2 label {
  display: block;
  margin-bottom: 0px;
  color: #555;

}

.datosPedido input {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #9ad1fd;/* Color de fondo similar a los inputs */
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.datosPedido2 input {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #9ad1fd;/* Color de fondo similar a los inputs */
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.datosPedido input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}
.datosPedido2 input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}




